<!DOCTYPE html>
<html>

<script type="x-shader/x-vertex" id="vertexshaderParticle">

	uniform float amplitude;
	attribute float size;
	attribute vec3 customColor;

	varying vec3 vColor;

	void main() {

		vColor = customColor;

		vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

		//gl_PointSize = size;
		gl_PointSize = size * ( 300.0 / length( mvPosition.xyz ) );

		gl_Position = projectionMatrix * mvPosition;

	}

</script>

<script type="x-shader/x-fragment" id="fragmentshaderParticle">

	uniform vec3 color;
	uniform sampler2D texture;
	uniform vec2 offset;

	varying vec3 vColor;

	void main() {

		gl_FragColor = vec4( color * vColor, 1.0 );
		gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord + offset );

	}

</script>

<!-- ------ Custom Shader Code for atmospheric glow ------ -->
<script id="vertexShaderAtmosphere" type="x-shader/x-vertex">
varying vec3 vNormal;
void main() 
{
    vNormal = normalize( normalMatrix * normal );
    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
}
</script>

<!-- fragment shader a.k.a. pixel shader -->
<script id="fragmentShaderAtmosphere" type="x-shader/x-vertex"> 
uniform float c;
uniform float p;
varying vec3 vNormal;
void main() 
{
	float intensity = pow( c - dot( vNormal, vec3( 0.0, 0.0, 1.0 ) ), p ); 
	gl_FragColor = vec4( 1.0, 1.0, 1.0, 1.0 ) * intensity;
}
</script>


<head>
<meta charset="utf-8">

<title>Data Landscape</title>
<link rel="stylesheet" type="text/css" href="../style/stylesheet.css">


</head>
	<body>
	<script type = "text/javascript" src ="../threejs.r70/build/three.js"></script>

	<script src="../js/config.js"></script>
	
	<script type = "text/javascript" src = "../Physijs/physi.js"></script>
	<script type = "text/javascript" src = "../Physijs/physiPointerLockControls.js"></script>
	<!-- <script src ="../threejs.r70/examples/js/controls/PointerLockControls.js"></script> -->
	<script type = "text/javascript" src="../threejs.r70/examples/js/effects/OculusRiftEffect.js"></script>
	<script type = "text/javascript" src="../threejs.r70/examples/js/controls/OculusControls.js"></script>
	<script type = "text/javascript" src ="../threejs.r70/src/loaders/JSONLoader.js"> </script>
	<script type = "text/javascript" src ="../threejs.r70/examples/js/loaders/ColladaLoader.js"></script>
	<script type = "text/javascript" src = "../js/jquery-2.0.0.min.js"> </script>
	<script type = "text/javascript" src = "../js/audio.js"> </script>
	<script type = "text/javascript" src = "../threejs.r70/examples/js/Mirror.js"></script>
	<script type = "text/javascript" src = "../threejs.r70/examples/js/WaterShader.js"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/oscControl.js"></script>
	<script src="../js/pointCloud.js"></script>
	<script src="../js/lineTrace.js"></script>
	<script src="../js/wiiBalanceBoard.js"></script>

	<script src="../js/connectKinect.js"></script>
	
	<script type="text/javascript" src="../js/loaders/DDSLoader.js"></script>
	<script type="text/javascript" src="../js/loaders/MTLLoader.js"></script>
	<script type="text/javascript" src="../js/loaders/OBJMTLLoader.js"></script>
	<script type="text/javascript" src="../js/loaders/STLLoader.js"></script>
	<script type="text/javascript" src="../js/modelLoader.js"></script>

	<script src="../js/postprocessing/EffectComposer.js"></script>
	<script src="../js/postprocessing/RenderPass.js"></script>
	<script src="../js/postprocessing/ShaderPass.js"></script>
	<script src="../js/postprocessing/MaskPass.js"></script>
	<script src="../js/shaders/CopyShader.js"></script>

	<script src="../js/THREEx.KeyboardState.js"></script>
	<script src="../js/keyboard.js"></script>

	<div id="blankOverlay"></div>

	<div id="blocker">

	<div id="instructions">
	<span style="font-size:50px;">Click To Load Environment</span>
	<br />
	(Use W, A, S, D/or Arrow Keys To Move, Space To Jump, And Mouse To Look Around!)
	</div>

	</div>
	<!-- <!-- Start world creation -->
	<script type="text/javascript">
	var renderer, scene, camera, cube1, cube2;

	var geometry, material, mesh;
	var controls;
	var materials = [];
	var boxText = new THREE.ImageUtils.loadTexture('../textures/wood_texture.jpg');
	var cubes = new Array();
	var blocker = document.getElementById( 'blocker' );
	var instructions = document.getElementById( 'instructions' );
    var oculusControls = null;

	var oscControl=null;

	// http://www.html5rocks.com/en/tutorials/pointerlock/intro/
	var havePointerLock = 'pointerLockElement' in document || 'mozPointerLockElement' in document || 'webkitPointerLockElement' in document;

	if ( havePointerLock ) {
		var element = document.body;

		var pointerlockchange = function ( event ) {

			if ( document.pointerLockElement === element || document.mozPointerLockElement === element || document.webkitPointerLockElement === element ) {

				controls.enabled = true;

				blocker.style.display = 'none';

			} else {

				controls.enabled = false;

				blocker.style.display = '-webkit-box';
				blocker.style.display = '-moz-box';
				blocker.style.display = 'box';

				instructions.style.display = '';

			}

		}

		var pointerlockerror = function ( event ) {
			instructions.style.display = '';
		}

		// Hook pointer lock state change events
		document.addEventListener( 'pointerlockchange', pointerlockchange, false );
		document.addEventListener( 'mozpointerlockchange', pointerlockchange, false );
		document.addEventListener( 'webkitpointerlockchange', pointerlockchange, false );

		document.addEventListener( 'pointerlockerror', pointerlockerror, false );
		document.addEventListener( 'mozpointerlockerror', pointerlockerror, false );
		document.addEventListener( 'webkitpointerlockerror', pointerlockerror, false );

		instructions.addEventListener( 'click', function ( event ) {

			instructions.style.display = 'none';
			// Ask the browser to lock the pointer
			element.requestPointerLock = element.requestPointerLock || element.mozRequestPointerLock || element.webkitRequestPointerLock;

			if ( /Firefox/i.test( navigator.userAgent ) ) {

				var fullscreenchange = function ( event ) {

					if ( document.fullscreenElement === element || document.mozFullscreenElement === element || document.mozFullScreenElement === element ) {

						document.removeEventListener( 'fullscreenchange', fullscreenchange );
						document.removeEventListener( 'mozfullscreenchange', fullscreenchange );

						element.requestPointerLock();
					}

				}

				document.addEventListener( 'fullscreenchange', fullscreenchange, false );
				document.addEventListener( 'mozfullscreenchange', fullscreenchange, false );

				element.requestFullscreen = element.requestFullscreen || element.mozRequestFullscreen || element.mozRequestFullScreen || element.webkitRequestFullscreen;

				element.requestFullscreen();

			} else {

				element.requestPointerLock();

			}

		}, false );

	} else {

		instructions.innerHTML = 'Your browser doesn\'t seem to support Pointer Lock API';

	}
	</script> 
	<!-- <script src = "TweetStructure.js"></script> -->
	<div id="d">
		<div id="inst">
			Click or press corresponding number to change song
		</div>
		<div id="buttons_cars" class="bwrap">
			<button id="cave">1=Cave Trolls</button>
			<button id="star">2=Star Wars</button>
			<button id="fortuna">3=O Fortuna</button>
			<button id="skyrim">4=Skyrim</button>
			<button id="ambient">5=Ambient</button>
		</div>
	</div>
	<div id = "controls">
		<ul>
			<li>1-5 = change songs</li>
			<li>q = toggle 16/32/grid</li>
			<li>x = increase max tweets</li>

			<li>m = stop/mute music</li>

			<li>p = stop music</li>

		</ul>
	</div>

	<script type="text/javascript">

//		document.addEventListener('keydown', function(event) {
//			if(event.keyCode == 49 || event.keyCode == 97) {
//				document.getElementById('inst').style.display='none';
//				chooseSong(1);
//				pointCloud2.subtractor = 150
//			}
//			else if(event.keyCode == 50 || event.keyCode == 98) {
//				document.getElementById('inst').style.display='none';
//				chooseSong(2);
//				pointCloud2.subtractor = 110
//			}
//			else if(event.keyCode == 51 || event.keyCode == 99) {
//				document.getElementById('inst').style.display='none';
//				chooseSong(3);
//				pointCloud2.subtractor = 150;
//				pointCloud2.divisor = .5
//			}
//			else if(event.keyCode == 52 || event.keyCode == 100) {
//				document.getElementById('inst').style.display='none';
//				chooseSong(4);
//				pointCloud2.subtractor = 100;
//			}
//			else if(event.keyCode == 53 || event.keyCode == 101) {
//				document.getElementById('inst').style.display='none';
//				chooseSong(5);
//				pointCloud2.subtractor = 150;
//			}
//			else if (event.keyCode == 81) {
//				pointCloud2.animation++;
//				if (pointCloud2.animation == 3) {
//					pointCloud2.animation = 0;
//				}
//			}
//			else if(event.keyCode == 46) {
//				stop();
//			}
//			else if(event.keyCode == 88) {
//				maxTweets += 10;
//			}
//			else if(event.keyCode == 107) {
//				pointCloud2.addExtra(200);
//			}
////			else if(event.keyCode == 109) {
////				pointCloud2.removePoints(200);
////				console.log("Decreased batch size to: " + pointCloud2.idx);
////			}
//		});
//		document.getElementById("cave").onclick = function() {chooseSong(1); pointCloud2.subtractor = 150};
//		document.getElementById("star").onclick = function() {chooseSong(2); pointCloud2.subtractor = 110};
//		document.getElementById("fortuna").onclick = function() {chooseSong(3); pointCloud2.subtractor = 150; pointCloud2.divisor = .5};
//		document.getElementById("skyrim").onclick = function() {chooseSong(4); pointCloud2.subtractor = 80};
//		document.getElementById("ambient").onclick = function() {chooseSong(5); pointCloud2.subtractor = 150};



		document.addEventListener('keydown', function(event) {
			if(event.keyCode == 49 || event.keyCode == 97) {
				document.getElementById('inst').style.display='none';
				chooseSong(1);
				pointCloud2.subtractor = 150
			}
			else if(event.keyCode == 50 || event.keyCode == 98) {
				document.getElementById('inst').style.display='none';
				chooseSong(2);
				pointCloud2.subtractor = 110
			}
			else if(event.keyCode == 51 || event.keyCode == 99) {
				document.getElementById('inst').style.display='none';
				chooseSong(3);
				pointCloud2.subtractor = 150;
				pointCloud2.divisor = .5
			}
			else if(event.keyCode == 52 || event.keyCode == 100) {
				document.getElementById('inst').style.display='none';
				chooseSong(4);
				pointCloud2.subtractor = 100;
			}
			else if (event.keyCode == 81) {
				pointCloud2.animation++;
				if (pointCloud2.animation == 3) {
					pointCloud2.animation = 0;
				}
			}
			else if(event.keyCode == 80) {
				stop();
			}
			else if(event.keyCode == 88) {
				maxTweets += 10;
			}
			else if(event.keyCode == 107) {
				pointCloud2.addExtra(200);
			}
//			else if(event.keyCode == 109) {
//				pointCloud2.removePoints(200);
//				console.log("Decreased batch size to: " + pointCloud2.idx);
//			}
		});

		document.getElementById("cave").onclick = function() {chooseSong(1); pointCloud2.subtractor = 150};
		document.getElementById("star").onclick = function() {chooseSong(2); pointCloud2.subtractor = 110};
		document.getElementById("fortuna").onclick = function() {chooseSong(3); pointCloud2.subtractor = 150; pointCloud2.divisor = .5};
		document.getElementById("skyrim").onclick = function() {chooseSong(4); pointCloud2.subtractor = 80};

	</script>

	<script type = "text/javascript" src = "../js/TweetStructure.js"></script>
	<script type = "text/javascript" src = "../js/Graph.js"></script>
	<script type = "text/javascript" src = "../js/force-directed-layout.js"></script>
	<script type = "text/javascript" src = "../js/TwitterNode.js"></script>
	<script type = "text/javascript" src = "../js/shapes.js"></script>
	<script type = "text/javascript" src = "../js/TweetPanel.js"></script>
	<script type = "text/javascript" src = "../js/main.js"> </script>


	</body>



</html>